@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FAFAFA; 
    --foreground: #171717;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Georgia, 'Times New Roman', serif;
}

#drag-item {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: move;
}

#drop-zone {
  width: 200px;
  height: 200px;
  border: 2px dashed #ccc;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes errorAnimation {
  0%, 100% { transform: translateX(0); color: #ef4444; }
  10% { transform: translateX(-6px); }
  20% { transform: translateX(6px); }
  30% { transform: translateX(-6px); }
  40% { transform: translateX(0); color: #450a0a; }

  70% { color: #ef4444; }

  100% { color:black }
}

.animate-error {
  animation: errorAnimation 0.8s ease-out;
  display: inline-block;
}